@use '@/styles/shared/variables';

.scroll_container {
    height: 150vh;
    width: 100%
}

.lifestyle_container {
    /* LAYOUT */
    height: 100%;
}

.lifestyle_image {
    height: 120%;
    min-width: 100%;
    position:absolute;
}
