@use '@/styles/shared/variables';

.cta_container {
    /* LAYOUT */
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    .cta_heading {
        /* LAYOUT */
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        /* TYPOGRAPHY */
        @include variables.setTypography(100px, normal, 600, normal);
        text-align: center;

        /* STYLE */
        @include variables.setBackgroundClip(variables.$ctaSecondaryGradient);
    }

    .cta_image {
        /* LAYOUT */
        z-index: 0;
        position: relative;
        flex-shrink: 0;
        transform: translateY(-5%);
    }
}