@use '@/styles/shared/variables';

.cta_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center, 0, column);
    height: 190vh;
    // padding-top: 324px;
    background-color: white;
    

    .cta_content {
        /* LAYOUT */
        @include variables.setLayout(flex, center, center, 10px);
        padding-bottom: 100px;

        .cta_content_paragraph {
            /* LAYOUT */
            width: 742px;
            flex-shrink: 0;

            /* TYPOGRAPHY */
            @include variables.setTypography(86px, normal, 600, normal);

            span {
                color: variables.$ctaTertiaryTextDisabled;
                transition: color ease 0.5s;
            }

            .cta_content_paragraph_activated {
                /* STYLE  */
                color: variables.$primaryColor;
            }
        }
    }
    .cta_image_container{

        /*LAYOUT*/
        max-height: 100vh; 
        overflow: hidden;
        position: relative;
        .cta_image {
            /* LAYOUT */
            width: 100%;
            height: auto;
            transform: translateY(-35%)
        }
    }

    
}