@use '@/styles/shared/variables';

.cta_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center, 0, column);
    height: 190vh;
    // padding-top: 324px;
    background-color: white;
    position: 'relative';
    
    

    .cta_content {
        /* LAYOUT */
        @include variables.setLayout(flex, center, center, 10px);
        padding-bottom: 100px;

        .cta_content_paragraph {
            /* LAYOUT */
            flex-shrink: 0;

            /* TYPOGRAPHY */
            @include variables.sm {
                @include variables.setTypography(48px, normal, 600, normal);
                width: 348px;
            }

            @include variables.md {
                @include variables.setTypography(60px, normal, 600, normal);
                width: 540px
            }
            @include variables.lg{
                @include variables.setTypography(86px, normal, 600, normal);
                width: 742px;
            }
            

            span {
                color: variables.$ctaTertiaryTextDisabled;
                transition: color ease 0.5s;
            }

            .cta_content_paragraph_activated {
                /* STYLE  */
                color: variables.$primaryColor;
            }
        }
    }
    .cta_image_container{

        /*LAYOUT*/
        min-height: 100vh; 
        width: 100%;
        overflow: hidden;
        @include variables.sm {
            width: 150vw
        }
        @include variables.md {
            width: 100vw
        }
        .cta_image {
            /* LAYOUT */
            width: 100%;
            height: auto;
        }
    }

    
}