@use '@/styles/shared/variables';

.cta_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center, 0, column);
    height: 2050px;
    padding-top: 324px;
    background-color: white;
    

    .cta_content {
        /* LAYOUT */
        @include variables.setLayout(flex, center, center, 10px);
        padding: 100px 0px;

        .cta_content_paragraph {
            /* LAYOUT */
            width: 742px;
            flex-shrink: 0;

            /* TYPOGRAPHY */
            @include variables.setTypography(86px, normal, 600, normal);

            .cta_content_paragraph_disabled {
                /* STYLE  */
                color: variables.$ctaTertiaryTextDisabled;
            }

            .cta_content_paragraph_activated {
                /* STYLE  */
                color: variables.$ctaTertiaryTextActivated;
            }
        }
    }

    .cta_image {
        /* LAYOUT */
        width: 100%;
        height: auto;
        transform: translateY(-35%)
    }
}