@use '@/styles/shared/variables';

.callout_style_1 {

    position: absolute;
    .call_heading {
        @include variables.setCallOutHeadingTypography();
        color: variables.$light
        
    }
}

.callout_style_2 {

    position: relative;
    .call_heading {
        @include variables.setCallOutGradient();
        @include variables.setCallOutHeadingTypography();
    }
    
}

.call_container {
    @include variables.setLayout(flex, center, center);
    height: 400px;
    padding: 108px 50px;
    overflow: hidden;
    z-index: 20;

    .call_paragraph {
        @include variables.setCallOutParagraphTypography();
        color: variables.$primaryColor;
    }
}

/* MODIFIES */

.mw-928 {
    /* LAYOUT */
    max-width: 928px;
}

.mw-623 {
    /* LAYOUT */
    max-width: 623px;
}

.mw-563 {
    /* LAYOUT */
    max-width: 563px;
}