@use '@/styles/shared/variables';

.callout_style_1 {

    position: absolute;
    .call_heading {
        @include variables.setCallOutHeadingTypography();
        color: variables.$light
        
    }
}

.callout_style_2 {

    position: relative;
    .call_heading {
        @include variables.setCallOutGradient();
        @include variables.setCallOutHeadingTypography(70);
    }
    
}

.callout_style_3 {
    height: 30vh;
    .call_paragraph {
        @include variables.setTypography(26px, normal, 400, normal);
        color: variables.$primaryColor;
        text-align: center;
    }
}

.call_container {
    @include variables.setLayout(flex, center, center);
    padding: 108px 50px;
    overflow: hidden;
    z-index: 20;

    .call_paragraph {
        @include variables.sm {
            @include variables.setTypography(18px, normal, 400, normal);
            max-width: 400px
        }

        @include variables.md {
            @include variables.setTypography(22px, normal, 400, normal);
            max-width: 500px
        }
    
        @include variables.lg {
            @include variables.setTypography(32px, normal, 500, normal);
            max-width: 700px
        }
        
        text-align: center;
        color: variables.$primaryColor;
    }
}

/* MODIFIES */

.mw-928 {
    /* LAYOUT */
    max-width: 928px;
}

.mw-768 {
    /* LAYOUT */
    max-width: 768px;
}

.mw-623 {
    /* LAYOUT */
    max-width: 623px;
}

.mw-563 {
    /* LAYOUT */
    max-width: 563px;
}