@use '@/styles/shared/variables';

.color_container {
    /* LAYOUT */
    position: relative;
    @include variables.setLayout(flex, center);
    height: 100vh;

    .color_left {
        /* LAYOUT */
        position: relative;
        @include variables.setLayout(flex, center);
        width: 50%;

        .color_left_image {
            /* LAYOUT */
            background: url("/images/color_var/left.png") no-repeat center/contain;
            width: 100%;
        }
    }

    .color_left_filter {
        /* LAYOUT */
        position: absolute;
        bottom: 1.018125rem;
        left: 25%;
        @include variables.setLayout(flex, center, center, 7.64px);
        transform: translate(-50%);
        padding: 11.754px;

        button {
            /* LAYOUT */
            @include variables.setLayout(flex, flex-start, end);
            border-radius: 50%;
            width: 26px;
            height: 26px;

            div {
                /* LAYOUT */
                width: 100%;
                height: 50%;

                /* STYLE */
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
            }
        }

        .color_left_filter_one {
            /* STYLE */
            background-color: variables.$colorFilterOne;

            .first_semicircle {
                /* STYLE */
                background-color: variables.$colorFilterFirstSemiCircle;
            }
        }

        .color_left_filter_two {
            /* STYLE */
            background-color: variables.$colorFilterTwo;

            .second_semicircle {
                /* STYLE */
                background-color: variables.$colorFilterSecondSemiCircle;
            }
        }

        .color_left_filter_three {
            /* STYLE */
            background-color: variables.$colorFilterThree;

            .third_semicircle {
                /* STYLE */
                background-color: variables.$colorFilterThirdSemiCircle;
            }
        }

        .color_left_filter_four {
            /* STYLE */
            background-color: variables.$colorFilterFour;

            .fourth_semicircle {
                /* STYLE */
                background-color: variables.$colorFilterFourthSemiCircle;
            }
        }

        .color_left_filter_five {
            /* STYLE */
            background-color: variables.$colorFilterFive;

            .fifth_semicircle {
                /* STYLE */
                background-color: variables.$colorFilterFifthSemiCircle;
            }
        }
    }

    .color_right {
        overflow-x: hidden;
        /* LAYOUT */
        @include variables.setLayout(flex);
        width: 50%;
        
        /* STYLE */
        background-color: variables.$gray;

        .color_right_image {
            /* LAYOUT */
            background: url("/images/color_var/right.png") no-repeat center/cover;
            width: 100%;
        }
    }
}