@use '@/styles/shared/variables';

.book_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    padding: 66.667px;
    height: 100vh;

    .book_content {
        /* LAYOUT */
        // background: url("/images/book_demo/sector.png") no-repeat center/cover;
        @include variables.setLayout(flex, center, start, 13.33px, column);
        width: 100%;
        height: 400px;
        padding: 6.667px 33.333px;
        position: relative;

        /* STYLE */
        border-radius: 20px;

        .book_demo_image {
            position: absolute;
            width: 100%;
            height: auto;
            z-index: 0
        }

        .book_inner_container {
            
            @include variables.setLayout(flex, center, start);
            flex-direction: column;
            height: 100%;
            margin-left: 3%;

    
            .book_content_heading {
                /*  STYLE*/
                color: variables.$light;
    
                /* TYPOGRAPHY */
                @include variables.setTypography(72px, normal, 600, normal);
    
                /* LAYOUT */
                position: relative;
                margin-bottom: 5%
                
            }
    
            .book_content_paragraph {
                /* LAYOUT */
                width: 508px;
                position: relative;
                margin-bottom: 3%;
    
                /*  STYLE*/
                color: variables.$light;
    
                /* TYPOGRAPHY */
                @include variables.setTypography(22px, normal, 300, normal);
            }
        }

       
    }
}