@use '@/styles/shared/variables';

@mixin mask($scale, $translateY, $translateX){
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale($scale) translateY($translateY) translateX($translateX);
    outline: none;
    box-shadow: none;
}

.group_container {
    /* LAYOUT */
    height: 200vh;
    width: 100vw;
    overflow: hidden;

    .group_background_container {

        width: 100%;
        height: auto;
        position: relative;

        .basket_mask {
            @include mask(0.8, -22%, -20%);
        }

        .bench_mask {
            @include mask(0.8, -22%, -20%);
            background-color: transparent
        }

        .group_background {

            width: 100%;
            height: auto;
            position: relative;
        }


    }


}