@use '@/styles/shared/variables';

.blogs_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    padding: 57.333px 10%;
    height: 100vh;
    width: 100%;

    .blogs_content {
        /* LAYOUT */
        @include variables.setLayout(flex, start, start, 33.333px, column);
        height: 100%;
        width: 100%;

        .blogs_content_heading {
            /* STYLE */
            @include variables.setBackgroundClip(variables.$secondGradient);

            /* TYPOGRAPHY */
            @include variables.setTypography(64px, normal, 500, normal);


        }

        .blogs_content_cards {
            @include variables.setLayout(flex, start, center, 33.333px);
            height: 75%;
            width: 100%;
            
       
        }
    }
}