@use '@/styles/shared/variables';

.banner_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    height: 100vh;

    /* STYLE */
    background: var(--color-white-solid, variables.$light);

    .banner_video {
        /* LAYOUT */
        object-fit: cover;
        flex-shrink: 0;
        align-self: stretch;
    }
}