@use '@/styles/shared/variables';

.banner_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    height: 100vh;

    /* STYLE */
    background: var(--color-white-solid, #FFF);

    .banner_video {
        /* Marker */
        background-color: lightgray;

        /* LAYOUT */
        width: 1280px;
        flex-shrink: 0;
        align-self: stretch;
    }
}