@use '@/styles/shared/variables';

.subheader_container {
    /* LAYOUT */
    @include variables.setLayout(flex, space-between, center);
    min-height: 70px;
    padding: var(--item-spacing-10, 10px) 100px;

    /* STYLE */
    border-bottom: var(--stroke-weight-1, 1px) solid variables.$subHeaderBorder;
    background: variables.$subHeader;
    backdrop-filter: blur(3px);
    z-index:20;
    position: relative;

    .subheader_heading {
        /* TYPOGRAPHY */
        color: variables.$subHeaderText;
        /* DESKTOP - 1920 x 1080/SF Pro Display/Title 3 (semi-bolder) */
        @include variables.setTypography(20px, normal, 400, normal);
    }

    .subheader_nav {
        /* LAYOUT */
        @include variables.setLayout(flex, center, center, 20px);

        a {
            /* TYPOGRAPHY */
            /* DESKTOP - 1920 x 1080/SF Pro Display/Subheadline */
            @include variables.setTypography(14px, normal, 400, normal);
        }

        .subheader_nav_activated {
            /* TYPOGRAPHY */
            color: variables.$subHeaderText;
        }

        .subheader_nav_disabled {
            /* TYPOGRAPHY */
            color: variables.$subHeaderTextDisabled;
            text-align: center;
        }

        button {
            /* LAYOUT */
            @include variables.setLayout(flex, center, center, var(--item-spacing-10, 10px));
            width: 106px;
            padding: var(--item-spacing-5, 5px) 20px;

            /* STYLE */
            border-radius: 10px;
            background: variables.$subHeaderButton;

            /* TYPOGRAPHY */
            color: variables.$subHeaderButtonText;
            text-align: center;
            /* DESKTOP - 1920 x 1080/SF Pro Display/Footnote */
            @include variables.setTypography(12px, normal, 400, normal);
        }
    }
}