@use '@/styles/shared/variables';

.showcase {
    /* LAYOUT */
    position: relative;
    @include variables.setLayout(flex, start, center);
    width: 100%;
    height: 100%;

    .showcase_heading {
        /* LAYOUT */
        width: 585.333px;
        margin-left: 120px;
        flex-shrink: 0;

        /* STYLES */
        color: variables.$light;

        /* TYPOGRAPHY */
        @include variables.setTypography(64px, normal, 600, normal);
        text-transform: capitalize;
    }

    .showcase_pop {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}