@use '@/styles/shared/variables';

.close_container {
    /* LAYOUT */
    @include variables.setLayout(flex, start, center, 0, column);
    height: 200vh;
    position: relative;
    overflow: hidden;
    .close_showcase {
        /* LAYOUT */    
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        .close_background {
            /* LAYOUT */
            position: absolute;
            min-width: 100%;
            height: auto;
        }
    }

    .close_button_container {
        position: absolute;
        z-index: 20;
        bottom: 60%
    }
}