@use '@/styles/shared/variables';

.marketing_container {
    /* LAYOUT */
    @include variables.setLayout(flex, end, start, 35px, column);
    height: 720px;
    padding-bottom: 41.333px;

    .marketing_heading {
        /* STYLE */
        @include variables.setBackgroundClip(variables.$secondGradient);
        padding-left: 13%;

        /* TYPOGRAPHY */
        @include variables.setCallOutHeadingTypography(58px);
    }


}